ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: pink;
}

#navbar {
  margin: 0px;
  width: 1550px;
}

#navbar li {
  padding: 20px;
  color: black;
  width: 200px;
  margin-left: 30px;
}
